@font-face {
  font-family: hanken;
  src: url(/fonts/HankenGrotesk-Regular.ttf);
  font-weight: 500;
}
@font-face {
  font-family: hanken;
  src: url(/fonts/HankenGrotesk-SemiBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: hanken;
  src: url(/fonts/HankenGrotesk-ExtraBold.ttf);
  font-weight: 900;
}
html {
  font-family: hanken;
  min-height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  display: flex;
}

.container {
  width: 375px;
  min-height: 100%;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  position: absolute;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50%;
  background-color: hsl(228, 45%, 44%);
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  padding-top: 1.5rem;
}
.head .result {
  color: hsl(241, 100%, 89%);
  font-size: 1rem;
  margin-top: 1.2rem;
  font-weight: 700;
  position: relative;
  bottom: 0.8rem;
}
.head .score {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.head .score .point {
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 4.2rem;
}
.head .score .of {
  color: hsl(242, 17%, 68%);
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}
.head .paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 2.5rem;
}
.head .paragraph .great {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 700;
}
.head .paragraph .test {
  color: hsl(241, 100%, 89%);
  display: flex;
  font-weight: 500;
  font-size: 1.1rem;
  flex-direction: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0 1.5rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
}
.center .summary-header {
  position: relative;
  width: 100%;
  height: 20%;
  left: 1.8rem;
  margin-top: 1.3rem;
  margin-bottom: 0.5rem;
}
.center .summary-header .summary {
  font-weight: 900;
  font-size: 1.2rem;
}

.center {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 10%;
  padding: 0 2.3rem;
}
.boxs .score-a {
  position: relative;
  bottom: 5px;
}
.boxs .text {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.boxs .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem 1rem;
  margin-bottom: 1.5rem;
}
.boxs .one {
  background-color: hsl(0, 100%, 97%);
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.boxs .one .react-result {
  font-weight: 900;
}
.boxs .one .react-a {
  color: hsl(242, 17%, 68%);
  padding-left: 0.3rem;
  font-weight: 700;
}
.boxs .one .react {
  width: 37%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 1px;
}
.boxs .one .reaction {
  color: hsl(0, 100%, 67%);
}
.boxs .two {
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  background-color: hsl(39, 100%, 95%);
  border-radius: 0.5rem;
}
.boxs .two .memory-result {
  font-weight: 900;
}
.boxs .two .memory-a {
  color: hsl(242, 17%, 68%);
  padding-left: 0.3rem;
  font-weight: 700;
}
.boxs .two .memory {
  width: 37%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 1px;
}
.boxs .two .memory .memorize {
  color: hsl(39, 100%, 56%);
}
.boxs .three {
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(166, 100%, 96%);
}
.boxs .three .verbal-result {
  font-weight: 900;
}
.boxs .three .verbal-a {
  color: hsl(242, 17%, 68%);
  padding-left: 0.3rem;
  font-weight: 700;
}
.boxs .three .visual {
  width: 37%;
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 1px;
}
.boxs .three .verbal-text {
  color: hsl(166, 100%, 37%);
}
.boxs .four {
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  background-color: hsl(234, 85%, 96%);
  border-radius: 0.5rem;
}
.boxs .four .visual-result {
  font-weight: 900;
}
.boxs .four .visual-a {
  color: hsl(242, 17%, 68%);
  padding-left: 0.3rem;
  font-weight: 700;
}
.boxs .four .visual-text {
  color: hsl(234, 85%, 45%);
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  border: none;
  background-color: hsl(224, 30%, 27%);
  padding: 1rem;
  border-radius: 2rem;
  color: hsl(0, 0%, 100%);
}

button:hover {
  background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media only screen and (width: 320px) {
  body {
    width: 320px;
    margin: 0 auto;
  }
  .container {
    width: 320px;
  }
  .button {
    width: 290px;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .head .paragraph .test {
    padding: 0 0;
  }
}
@media only screen and (width: 425px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 420px;
    margin: auto auto;
    margin-right: 1.5rem;
  }
  .head .paragraph .test {
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 700px;
    border-radius: 1rem;
    background: hsl(0, 0%, 100%);
    box-shadow: 2px 5px 15px hsl(241, 100%, 89%);
    min-height: 470px;
  }
  .container .head {
    min-width: 50%;
    height: 100%;
    border-radius: 1rem;
    padding: 33px 0;
  }
  .center {
    height: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
  }
  button {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 300px;
    cursor: pointer;
  }
  .boxs .box {
    margin-bottom: 1.2rem;
  }
  .center .summary-header {
    position: relative;
    left: 2.5rem;
  }
  .center .summary-header .summary {
    text-shadow: -1px 1px 3px hsl(242, 17%, 68%);
    color: hsl(224, 30%, 27%);
  }
}

/*# sourceMappingURL=style.css.map */
