@font-face{
    font-family: hanken ;
    src: url(/fonts/HankenGrotesk-Regular.ttf);
    font-weight: 500;
}

@font-face{
    font-family: hanken ;
    src: url(/fonts/HankenGrotesk-SemiBold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: hanken ;
    src: url(/fonts/HankenGrotesk-ExtraBold.ttf);
    font-weight: 900;
}