// colors

$purple: hsl(228, 45%, 44%);
$red: hsl(0, 100%, 67%);
$Orange: hsl(39, 100%, 56%);
$range: hsl(39, 100%, 95%);
$Green: hsl(166, 100%, 37%);
$ogreen: hsl(166, 100%, 96%);
$Cobalte: hsl(234, 85%, 45%);
$Cobalte-1: hsl(234, 85%, 96%);


// gradiants

$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);

$Violet-blue : hsla(256, 72%, 46%, 1);
$Persian-blue : hsla(241, 72%, 46%, 0);

// neutrals

$White: hsl(0, 0%, 100%);
$Pale-blue: hsl(221, 100%, 96%);
$Light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);
$point:hsl(242, 17%, 68%);


//padding
$pad:1rem 1rem;

//border
$border-radius: .5rem;

//px

$small:320px;
$mobile-L:425px;